@()

@main("Toggle.club") {
  <div class="pure-g header-bar">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">TOGGLE.CLUB</div>
    <div class="pure-u-1-5"></div>
  </div>
  <div class="pure-g" id="app"></div>
  @if(play.api.Play.isProd(play.api.Play.current)) {
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("mithril.min.js"))"></script>
  <script src="@routes.Assets.versioned("toggleclub-client-opt.js")"></script>
  } else {
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("mithril.js"))"></script>
  <script src="@routes.Assets.versioned("toggleclub-client-fastopt.js")"></script>
  }
  <script>club.toggle.Main().main()</script>
}
