.header-bar {
  font-size: 3em;
  margin-bottom: 1em;
  border-bottom: 5px solid #FF6201;
  background-color: #FFB20F;
  color: white;
}

#app {
  padding-top: -2em;
}

.login-form {
  padding-left: 0;
}

.room-heading {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5em;
  height: 2em;
}

.room-title {
  font-size: 2em;
  margin-right: 0.5rem;
  height: inherit;
}

.username {
  float: right;
  color: gray;
  position: relative;
  top: 1em;
}

.readystats {
  color: gray;
  margin-left: 0.5em;
}

ul.room-controls {
  list-style-type: none;
  display: inline-block;
  float: right;
  padding-left: 0;
}

ul.room-controls > li {
  display: inline-block;
  padding-left: 0.5em;
  color: gray;
}

.status {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 3px;
  vertical-align: middle;
}

.status-ready {
  background-color: lime;
}

.status-notready {
  background-color: red;
}

.status-text {
  color: gray;
}

.status-text-btn {
  margin-left: 0.25em;
}

.hand-list {
  list-style-type: none;
  clear: both;
  padding-left: 0;
}

.hand-list > li {
  width: 100%;
  height: 2.5em;
}

.hand-list > li > button {
  margin-left: 0.5em;
  margin-top: -0.5em;
  float: right;
}
