@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("pure-min.css"))" />
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")" />
    </head>
    <body>
        @content
    </body>
</html>
